<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="ChemasfutCR Template">
    <meta name="keywords" content="ChemasfutCR, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ChemasfutCR | Pagina de inicio</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/page/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/page/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/page/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/page/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/page/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/page/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/page/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/page/css/style.css" type="text/css">
</head>

<body>

    @RenderBody()

    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a href="#">Iniciar sesión</a>
                <a href="#">Preguntas frecuentes</a>
            </div>
            <div class="offcanvas__top__hover">
                <span>Usd <i class="arrow_carrot-down"></i></span>
                <ul>
                    <li>USD</li>
                    <li>EUR</li>
                    <li>USD</li>
                </ul>
            </div>
        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="~/page/img/icon/search.png" alt=""></a>
            <a href="#"><img src="~/page/img/icon/heart.png" alt=""></a>
            <a href="#"><img src="~/page/img/icon/cart.png" alt=""> <span>0</span></a>
            <div class="price">₡0.00</div>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Bienvenido a ChemasfutCR</p>
        </div>
    </div>
    <!-- Offcanvas Menu End -->
    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            <p>Bienvenido a ChemasfutCR</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                                <a href="#">Iniciar sesión</a>
                                <a href="#">Preguntas frecuentes</a>
                            </div>
                            <div class="header__top__hover">
                                <span>COL ₡ <i class="arrow_carrot-down"></i></span>
                                <ul>
                                    <li>USD</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="./index.html"><img src="~/page/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li class="active"><a href="./index.html">Inicio</a></li>
                            <li><a href="./shop.html">Tienda</a></li>
                            <li>
                                <a href="#">Paginas</a>
                                <ul class="dropdown">
                                    <li><a href="./about.html">Acerca de nosotros</a></li>
                                    <li><a href="./shop-details.html">Detalles de compra</a></li>
                                    <li><a href="./shopping-cart.html">Carrito de compra</a></li>
                                    <li><a href="./checkout.html">Check Out</a></li>
                                    <li><a href="./blog-details.html">Detalles</a></li>
                                </ul>
                            </li>
                            <li><a href="./blog.html">Blog</a></li>
                            <li><a href="./contact.html">Contacto</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <a href="#" class="search-switch"><img src="~/page/img/icon/search.png" alt=""></a>
                        <a href="#"><img src="~/page/img/icon/heart.png" alt=""></a>
                        <a href="#"><img src="~/page/img/icon/cart.png" alt=""> <span>0</span></a>
                        <div class="price">₡0.00</div>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->
    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="hero__slider owl-carousel">
            <div class="hero__items set-bg" data-setbg="page/img/hero/hero-1.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-7 col-md-8">
                            <div class="hero__text">
                                <h6>Chemas de futbol</h6>
                                <h2>De tus equipos favoritos</h2>
                                <p>
                                    Nos especializamos en que cada camisa llegue a tus manos con una calidad excepcional. Con las mejores telas y acabados del mercado.
                                    Muestra los colores de tu equipo favorito.
                                </p>
                                <a href="#" class="primary-btn">Comprar ahora <span class="arrow_right"></span></a>
                                <div class="hero__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__items set-bg" data-setbg="page/img/hero/hero-2.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-7 col-md-8">
                            <div class="hero__text">
                                <h6>Ropa deportiva</h6>
                                <h2>Para ese deporte en especial</h2>
                                <p>
                                    Contamos con un amplio catalogo de ropa para diversos deportes. Elige estilo y acabado el que mas te guste. 
                                </p>
                                <a href="#" class="primary-btn">Comprar ahora <span class="arrow_right"></span></a>
                                <div class="hero__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->
    <!-- Banner Section Begin -->
    <section class="banner spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 offset-lg-4">
                    <div class="banner__item">
                        <div class="banner__item__pic">
                            <img src="~/page/img/camisas/Miami (Custom).jpg" alt="">
                        </div>
                        <div class="banner__item__text">
                            <h2>Colecciones 2024</h2>
                            <a href="#">Comprar ahora</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="banner__item banner__item--middle">
                        <div class="banner__item__pic">
                            <img src="~/page/img/camisas/Paris (Custom).jpg" alt="">
                        </div>
                        <div class="banner__item__text">
                            <h2>Colecciones 2023</h2>
                            <a href="#">Comprar ahora</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="banner__item banner__item--last">
                        <div class="banner__item__pic">
                            <img src="~/page/img/camisas/FCB (Custom).jpeg" alt="">
                        </div>
                        <div class="banner__item__text">
                            <h2>Colecciones 2022</h2>
                            <a href="#">Comprar ahora</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Section End -->
    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="filter__controls">
                        <li class="active" data-filter="*">Más vendidos</li>
                        <li data-filter=".new-arrivals">En camino</li>
                        <li data-filter=".hot-sales">Mejores Ofertas</li>
                    </ul>
                </div>
            </div>
            <div class="row product__filter">
                <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="page/img/product/product-1.jpg">
                            <span class="label">New</span>
                            <ul class="product__hover">
                                <li><a href="#"><img src="~/page/img/icon/heart.png" alt=""></a></li>
                                <li><a href="#"><img src="~/page/img/icon/compare.png" alt=""> <span>Compare</span></a></li>
                                <li><a href="#"><img src="~/page/img/icon/search.png" alt=""></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6>Piqué Biker Jacket</h6>
                            <a href="#" class="add-cart">+ Add To Cart</a>
                            <div class="rating">
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <h5>₡67.24</h5>
                            <div class="product__color__select">
                                <label for="pc-1">
                                    <input type="radio" id="pc-1">
                                </label>
                                <label class="active black" for="pc-2">
                                    <input type="radio" id="pc-2">
                                </label>
                                <label class="grey" for="pc-3">
                                    <input type="radio" id="pc-3">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix hot-sales">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="page/img/product/product-2.jpg">
                            <ul class="product__hover">
                                <li><a href="#"><img src="~/page/img/icon/heart.png" alt=""></a></li>
                                <li><a href="#"><img src="~/page/img/icon/compare.png" alt=""> <span>Compare</span></a></li>
                                <li><a href="#"><img src="~/page/img/icon/search.png" alt=""></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6>Piqué Biker Jacket</h6>
                            <a href="#" class="add-cart">+ Add To Cart</a>
                            <div class="rating">
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <h5>₡67.24</h5>
                            <div class="product__color__select">
                                <label for="pc-4">
                                    <input type="radio" id="pc-4">
                                </label>
                                <label class="active black" for="pc-5">
                                    <input type="radio" id="pc-5">
                                </label>
                                <label class="grey" for="pc-6">
                                    <input type="radio" id="pc-6">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                    <div class="product__item sale">
                        <div class="product__item__pic set-bg" data-setbg="page/img/product/product-3.jpg">
                            <span class="label">Sale</span>
                            <ul class="product__hover">
                                <li><a href="#"><img src="~/page/img/icon/heart.png" alt=""></a></li>
                                <li><a href="#"><img src="~/page/img/icon/compare.png" alt=""> <span>Compare</span></a></li>
                                <li><a href="#"><img src="~/page/img/icon/search.png" alt=""></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6>Multi-pocket Chest Bag</h6>
                            <a href="#" class="add-cart">+ Add To Cart</a>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <h5>₡43.48</h5>
                            <div class="product__color__select">
                                <label for="pc-7">
                                    <input type="radio" id="pc-7">
                                </label>
                                <label class="active black" for="pc-8">
                                    <input type="radio" id="pc-8">
                                </label>
                                <label class="grey" for="pc-9">
                                    <input type="radio" id="pc-9">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix hot-sales">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="page/img/product/product-4.jpg">
                            <ul class="product__hover">
                                <li><a href="#"><img src="~/page/img/icon/heart.png" alt=""></a></li>
                                <li><a href="#"><img src="~/page/img/icon/compare.png" alt=""> <span>Compare</span></a></li>
                                <li><a href="#"><img src="~/page/img/icon/search.png" alt=""></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6>Diagonal Textured Cap</h6>
                            <a href="#" class="add-cart">+ Add To Cart</a>
                            <div class="rating">
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <h5>₡60.9</h5>
                            <div class="product__color__select">
                                <label for="pc-10">
                                    <input type="radio" id="pc-10">
                                </label>
                                <label class="active black" for="pc-11">
                                    <input type="radio" id="pc-11">
                                </label>
                                <label class="grey" for="pc-12">
                                    <input type="radio" id="pc-12">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="page/img/product/product-5.jpg">
                            <ul class="product__hover">
                                <li><a href="#"><img src="~/page/img/icon/heart.png" alt=""></a></li>
                                <li><a href="#"><img src="~/page/img/icon/compare.png" alt=""> <span>Compare</span></a></li>
                                <li><a href="#"><img src="~/page/img/icon/search.png" alt=""></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6>Lether Backpack</h6>
                            <a href="#" class="add-cart">+ Add To Cart</a>
                            <div class="rating">
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <h5>₡31.37</h5>
                            <div class="product__color__select">
                                <label for="pc-13">
                                    <input type="radio" id="pc-13">
                                </label>
                                <label class="active black" for="pc-14">
                                    <input type="radio" id="pc-14">
                                </label>
                                <label class="grey" for="pc-15">
                                    <input type="radio" id="pc-15">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix hot-sales">
                    <div class="product__item sale">
                        <div class="product__item__pic set-bg" data-setbg="page/img/product/product-6.jpg">
                            <span class="label">Sale</span>
                            <ul class="product__hover">
                                <li><a href="#"><img src="~/page/img/icon/heart.png" alt=""></a></li>
                                <li><a href="#"><img src="~/page/img/icon/compare.png" alt=""> <span>Compare</span></a></li>
                                <li><a href="#"><img src="~/page/img/icon/search.png" alt=""></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6>Ankle Boots</h6>
                            <a href="#" class="add-cart">+ Add To Cart</a>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <h5>₡98.49</h5>
                            <div class="product__color__select">
                                <label for="pc-16">
                                    <input type="radio" id="pc-16">
                                </label>
                                <label class="active black" for="pc-17">
                                    <input type="radio" id="pc-17">
                                </label>
                                <label class="grey" for="pc-18">
                                    <input type="radio" id="pc-18">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="page/img/product/product-7.jpg">
                            <ul class="product__hover">
                                <li><a href="#"><img src="~/page/img/icon/heart.png" alt=""></a></li>
                                <li><a href="#"><img src="~/page/img/icon/compare.png" alt=""> <span>Compare</span></a></li>
                                <li><a href="#"><img src="~/page/img/icon/search.png" alt=""></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6>T-shirt Contrast Pocket</h6>
                            <a href="#" class="add-cart">+ Add To Cart</a>
                            <div class="rating">
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <h5>₡49.66</h5>
                            <div class="product__color__select">
                                <label for="pc-19">
                                    <input type="radio" id="pc-19">
                                </label>
                                <label class="active black" for="pc-20">
                                    <input type="radio" id="pc-20">
                                </label>
                                <label class="grey" for="pc-21">
                                    <input type="radio" id="pc-21">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix hot-sales">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="page/img/product/product-8.jpg">
                            <ul class="product__hover">
                                <li><a href="#"><img src="~/page/img/icon/heart.png" alt=""></a></li>
                                <li><a href="#"><img src="~/page/img/icon/compare.png" alt=""> <span>Compare</span></a></li>
                                <li><a href="#"><img src="~/page/img/icon/search.png" alt=""></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6>Basic Flowing Scarf</h6>
                            <a href="#" class="add-cart">+ Add To Cart</a>
                            <div class="rating">
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <h5>₡26.28</h5>
                            <div class="product__color__select">
                                <label for="pc-22">
                                    <input type="radio" id="pc-22">
                                </label>
                                <label class="active black" for="pc-23">
                                    <input type="radio" id="pc-23">
                                </label>
                                <label class="grey" for="pc-24">
                                    <input type="radio" id="pc-24">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Section End -->
    <!-- Categories Section Begin -->
    <section class="categories spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="categories__text">
                        <h2>Nacionales<br /> <span>De temporada</span> <br /> Retro</h2>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="categories__hot__deal">
                        <img src="page/img/product-sale.png" alt="">
                        <div class="hot__deal__sticker">
                            <span>Oferta</span>
                            <h5>del Mes</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 offset-lg-1">
                    <div class="categories__deal__countdown">
                        <span>Oferta del mes</span>
                        <h2>Compre ahora 4 camisas y reciba gratis este bolso multifuncional</h2>
                        <div class="categories__deal__countdown__timer" id="countdown">
                            <div class="cd-item">
                                <span>3</span>
                                <p>Dias</p>
                            </div>
                            <div class="cd-item">
                                <span>1</span>
                                <p>Horas</p>
                            </div>
                            <div class="cd-item">
                                <span>50</span>
                                <p>Minutos</p>
                            </div>
                            <div class="cd-item">
                                <span>18</span>
                                <p>Segundos</p>
                            </div>
                        </div>
                        <a href="#" class="primary-btn">Comprar ahora</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->
    <!-- Instagram Section Begin -->
    <section class="instagram spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="instagram__pic">
                        <div class="instagram__pic__item set-bg" data-setbg="page/img/instagram/instagram-1.jpg"></div>
                        <div class="instagram__pic__item set-bg" data-setbg="page/img/instagram/instagram-2.jpg"></div>
                        <div class="instagram__pic__item set-bg" data-setbg="page/img/instagram/instagram-3.jpg"></div>
                        <div class="instagram__pic__item set-bg" data-setbg="page/img/instagram/instagram-4.jpg"></div>
                        <div class="instagram__pic__item set-bg" data-setbg="page/img/instagram/instagram-5.jpg"></div>
                        <div class="instagram__pic__item set-bg" data-setbg="page/img/instagram/instagram-6.jpg"></div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="instagram__text">
                        <h2>Instagram</h2>
                        <p>
                            Siguenos en nuestra red social Instagram y estate atento ya que publicamos rifas, ofertas y mucho mas.
                        </p>
                        <h3>#ChemasfutCR</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Instagram Section End -->
    <!-- Latest Blog Section Begin -->
    <section class="latest spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Ultimas noticias</span>
                        <h2>Nuevos estilos en tendencia</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="page/img/blog/blog-1.jpg"></div>
                        <div class="blog__item__text">
                            <span><img src="~/page/img/icon/calendar.png" alt=""> 12 Julio 2024</span>
                            <h5>Efecto Mbappé en Madrid: Rompe récord en venta de camisetas</h5>
                            <a href="#">Lea más</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="page/img/blog/blog-2.jpg"></div>
                        <div class="blog__item__text">
                            <span><img src="~/page/img/icon/calendar.png" alt=""> 16 Marzo 2024</span>
                            <h5>Real Madrid y Barcelona, con más ingresos por camisetas en 2023 y 2024</h5>
                            <a href="#">Lea más</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="page/img/blog/blog-3.jpg"></div>
                        <div class="blog__item__text">
                            <span><img src="~/page/img/icon/calendar.png" alt=""> 12 Agosto 2024</span>
                            <h5>Las nuevas camisetas de la temporada 2024-2025: así vestirán Real Madrid, 
                                Barcelona, Manchester United, Arsenal y los clubes más importantes 
                                de Europa</h5>
                            <a href="#">Lea más</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Latest Blog Section End -->
    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="~/page/img/footer-logo.png" alt=""></a>
                        </div>
                        <p>El cliente está en el centro de nuestro modelo de negocio único, por lo tanto cualquier consulta, 
                            no dude en contactarnos.</p>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Tienda</h6>
                        <ul>
                            <li><a href="#">Chemas de futbol</a></li>
                            <li><a href="#">Ropa deportiva</a></li>
                            <li><a href="#">Ofertas</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Compras</h6>
                        <ul>
                            <li><a href="#">Contactenos</a></li>
                            <li><a href="#">Metodos de pago</a></li>
                            <li><a href="#">Envios</a></li>
                            <li><a href="#">Devoluciones y garantias</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>Nuevas Noticias</h6>
                        <div class="footer__newslatter">
                            <p>¡Sé el primero en enterarte de novedades, ventas y promociones!</p>
                            <form action="#">
                                <input type="text" placeholder="Tu email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>
                            Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>
                            All rights reserved | This template is made with <i class="fa fa-heart-o"
                                                                                aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->
    <!-- Js Plugins -->
    <script src="~/page/js/jquery-3.3.1.min.js"></script>
    <script src="~/page/js/bootstrap.min.js"></script>
    <script src="~/page/js/jquery.nice-select.min.js"></script>
    <script src="~/page/js/jquery.nicescroll.min.js"></script>
    <script src="~/page/js/jquery.magnific-popup.min.js"></script>
    <script src="~/page/js/jquery.countdown.min.js"></script>
    <script src="~/page/js/jquery.slicknav.js"></script>
    <script src="~/page/js/mixitup.min.js"></script>
    <script src="~/page/js/owl.carousel.min.js"></script>
    <script src="~/page/js/main.js"></script>
</body>

</html>